h1 {
    text-align:center;
    font-size: 20px;
    margin-top: 100px;
     margin-bottom: 40px;
    margin-right: 150px;
    margin-left: 80px;

}

h3{
    text-align: center;
    font-size: 70px;
    
}

h1 {
    font-family: 'Lobster', cursive;
}




#b2 {
    font-family: 'Concert One', cursive;
    padding-top: 2em;
}

#b3 {
    font-family: 'Concert One', cursive;
    padding-left: 10em;
    padding-top: 2em;
   
  
}


#homesection {
    background-color:rgb(255, 214, 235);
    min-height: 100vh;
}

#homesection2 {
    background-color:bisque;
    height: 100vh;
    padding-top: 0.5em;
    padding-bottom: 2em;
}



html, body{
    padding: 0;
    margin: 0;
}

.text-left{
    text-align: left !important; 
}